* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter";
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

button,
input,
textarea,
select {
  font-family: inherit;
  color: inherit;
  background: none;
}

button {
  cursor: pointer;
}

img {
  user-select: none;
}
