img {
  border: 5px solid red;
}
h1 {
  color: black;
  width: 550px;
}

h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.about-me-text {
  color: brown;
  font-weight: bold;
}

.skills-table{
background-color: bisque;
border-color: blue;


}